.home{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: fit-content;
    background-image: linear-gradient(to top, rgba(25, 25, 112, 1), rgba(0, 150, 255, 0.6), rgba(25, 25, 112, 1));
}

.title{
    color: white;
    text-align: center;
    font-size: 5rem;
    transition: 0.5s ease;
    cursor: pointer;
    text-shadow: 0 0 40px #fff;
}