.register{
    width: 100vw;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
}

@media only screen and (max-width: 767px){
    .kont button{
        width: 95%;
    }
}

.my-5{
    text-shadow: 0 0 40px #fff;
}

.register-image-div{
    position: relative;
    width: 200px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
    background-color: #ddddddad;
    border-radius: 15px;
}

.profile-preview{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.profile-picture-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    cursor: pointer;
}

.profile-picture-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  }